body {
	margin: 0;
	font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif,
		-apple-system, BlinkMacSystemFont, 'Segoe UI';
	background-color: var(--background-color);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--background-color: #cbf7ed;
	--card-background-color: #1e221b;
	--color: #b2df28;
}
